.login-page-wrapp {
  height: 100vh;
}

.login-form-wrap {
  width: 50%;
}

.login-form-wrap .form-card {
  max-width: 500px;
  width: 100%;
  margin-right: 30px;
}

.login-form-wrap .form-card .card-title {
  color: var(--gray);
}

.login-greeting-screen {
  background: url("https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg");
  filter: saturate(0.6);

  background-position-y: top;
  width: 50%;
  padding: 20px;
}

.login-greeting-screen .login-greeting-screen-text {
  max-width: 500px;
}

.login-greeting-screen .login-greeting-screen-text {
  color: var(--white);
}

.login-greeting-screen .login-greeting-screen-title {
  margin-bottom: 30px;
  text-transform: capitalize;
}

.login-greeting-screen .login-greeting-screen-description {
  line-height: 1.4;
}

.modal-content.card-image {
  background: linear-gradient(to top, #23074d, #cc5333);
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px;
  }
}
